.lista-filmes{
    max-width: 800px;
    margin: 14px auto;
}

.lista-filmes article {
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 4px;

}

.lista-filmes strong {
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}
.lista-filmes img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    background-color: rgb(17, 0, 255);
    text-decoration: none;
    color: antiquewhite;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

}